/* General Utilites */

body {
	background-color: #ffffff;
	margin: auto;
	max-width: 100vw;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
	font-family: 'Montserrat', sans-serif;
}
.page-width {
	max-width: 100vw;
	margin: 0 1em;
}

h1 {
	font-family: 'EurostileBold', sans-serif;
	font-size: 10em;
	color: #37423b;
	line-height: 1em;
	position: relative;
	text-align: center;
	margin: .5em 0;
}
h1.content {
	font-family: 'Playfair Display', sans-serif;
	font-size: 10em;
	color: #ffb029;
	line-height: 1em;
	position: relative;
	text-align: left;
	margin: 0;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 6em;
	font-weight: 500;
	color: #37423b;
	position: relative;
}
h2.content {
	font-family: 'Playfair Display', sans-serif;
	font-size: 6em;
	font-weight: bold;
	color: #ffb029;
	line-height: 1em;
	position: relative;
	text-align: left;
	margin: 0;
}
h3 {
  font-family: 'EurostileBold', sans-serif;
	font-size: 3em;
  font-weight: 400;
	color: #37423b;
	padding: 10px 0;
	text-align: left;
}
h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	color: #070707;
	line-height: 1.5;
	text-align: left;
}
p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: 500;
	color: #070707;
	line-height: 1.5;
	text-align: left;
}
a {
  text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
  color: #070707;
}
ul {
	text-decoration: none;
	list-style: none;
	padding-top: 1em;
}
li {
	text-decoration: none;
	list-style: none;
	line-height: 1.5;
	padding-bottom: 10px;
	font-weight: 600;
}
*, *:before, *:after {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}
img, svg, figure, picture, object, embed, iframe, video {
  height: auto;
}

/* Header & Nav Styling  */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 8vh;
	background-color: transparent;
	z-index: 100;
	padding: 10px 0;
	margin: 0 1em;
}
.site-header__logo {
	max-width: 50px;
	max-height: 100%;
	z-index: 999;
}
.logo-img:hover {
	cursor: pointer;
}
.nav-links {
	justify-content: space-around;
  display: flex;
	z-index: 100;
}

.nav-links a {
	letter-spacing: 3px;
	color: #070707;
	margin-left: 30px;
	opacity: .75;
	position: relative;
	display: inline-block;
	z-index: 100;
}

.nav-links a:hover {
	color: #95434D;
	opacity: 1;
}

nav a::after {
	content: '';
	display: block;
	height: 2px;
	background-color: #95434D;
	width: 0%;
	position: absolute;
	bottom: 12;
	padding-top: 3px;
	transition: all ease-in-out 300ms;
}
nav a:hover::after {
	width: 100%;
}

#header, .burger-nav {
	background: transparent;
}

/* Mast styling */

#h2-emphasize {
	font-style: italic;
	font-weight: bold;
}
.home-mast {
	justify-content: center;
	vertical-align: center;
	align-items: center;
	align-content: center;
	max-width: 80vw;
	margin: auto;
	margin-top: 15em;
	text-align: center;
}

.home-mast h2 {
	max-width: 30em;
	margin: auto;
}
.content_mast {
	justify-content: center;
	vertical-align: center;
	align-items: center;
	align-content: center;
	max-width: 83vw;
	max-height: 30vh;
	margin: auto;
	margin-top: 15em;
	text-align: left;
}
.content_mast h2 {
	margin: auto;
}
.site_bg {
	justify-content: center;
}
.site_bg::before {
	content: "";
	background-image: url(resources/bg_texture_inverted.gif);
	background-size: cover;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.5;
}

button.mast__cta {
	margin-top: 2em;
	padding: 15px 30px;

	border-radius: 4px;
	border: 0px;

	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: 400;

	text-align: center;
	justify-content: center;
	z-index: 800;
	position: relative;

	background-color: #3E92B0;
	color: #fff;

	transition: all ease-in-out 300ms;
	cursor: pointer;
}
button.mast__cta a {
	color: #fff;
}
button.mast__cta:hover {
	background-color: #37423b;
	color: #fff;
}

/* Below the fold */

.below_fold {
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	align-content: center;
	margin: auto;
	max-width: 83vw;
	position: relative;
	z-index: 5;
	text-align: left;
	top: 5em;
}
.below_fold_contact {
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	align-content: center;
	margin: auto;
	max-width: 83vw;
	position: relative;
	z-index: 5;
	text-align: left;
	top: 5em;
}
.brief_intro {
	padding-bottom: 2em;
	font-size: 1.75em;
	font-weight: bold;
	line-height: 1.5;
	text-align: left;
}

/* Resume page */

.resume_title {
	text-align: left;
	justify-content: space-around;
	padding-left: 0;
	font-size: 2em;
	font-weight: bold;
	color: #225643;
	border-bottom: solid 2px #37423b;

}

/* Images */
img.about-img {
	border-radius: 50%;
	width: 300px;
	height: 100%;
	z-index: 999;
}
img.logo-img {
	max-width: 100%
}
/* JS re-load feature */

#re-load {
  padding: 0px 22px 22px 22px;

    @media (max-width: 749px) {
    	padding: 0px;
    	margin: auto 50px;
    }

  img {
  max-width: 100px;
  max-height: 100px;

    @media (max-width: 749px) {
    margin-top: -75px;
    padding: 0px;
    }
  }
}
/* About Content Link */
#fmb-link {
	z-index: 999;
	border-bottom: 2px solid #ffb029;
}
#fmb-link:hover {
	color: #070707;
}

/* Interactive Word css */

.descriptive_words_interactive {
  padding: 0 10%;
  background-color: transparent;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  line-height: 100vh;
  white-space: nowrap;
}

.social-icons {
  text-align: left;
  }
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:30px;
  margin-right: 20px;
}

/* Media Queries */

@media (min-width: 1024px) {
.home-mast {
  width: 100vw;
	vertical-align: middle;
}
.home-mast__bg {
  background-position: center;
  background-size: 75em;
}
.below_fold {
	height: 50vh;
  width: 100vw;
}
.below_fold_contact {
	height: 50vh;
  width: 100vw;
}
.content_mast {
	width: 100vw;
	vertical-align: middle;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 1.5em;
}
}

@media (max-width: 425px) {
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1.25em;
	}
	.home-mast {
		margin: 2em auto
	}
	.content_mast {
		margin: 2em auto
	}
	h1.content {
		font-size: 5em;
	}
	h2.content {
		font-size: 3em;
	}
	h3 {
		font-size: 2.5em;
	}
	button.mast__cta {
		float: left;
	}
	.below_fold {
		margin-top: 23em;
		max-width: 98vw;
		top: 0;
		margin-bottom: 5em;
	}
	.below_fold_contact {
		margin-top: 5em;
		max-width: 98vw;
		top: 0;
		margin-bottom: 5em;
	}
	.home-mast {
		max-width: 90vw;
	}
}
@media (min-width: 426px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}

	.home-mast {
		margin: 3em auto;
	}
	.content_mast {
		margin: 3em auto;
	}
	.burger-nav {
		display: none;

	}
}
@media (min-width: 768px) {
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 1.5em;
	}
	.home-mast {
		margin: 5em auto;
	}
	.content_mast {
		margin: 5em auto;
	}
}
